<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>For 萧雨冰冰</title>
  </head>
  <body>
    <h1></h1>
<div>当前信息<br><%= @cmdresult1 %></div>
<br>
请选择要切换的分支:     
<form action="/testupresult"  method="get">
<select name="tags">
<% @cmdresult2.each do |tmp| %>
<option value="<%= tmp %>"><%= tmp %></option>
<% end %>
</select> 
<input type="hidden" name="hidden" value="<%= @keyname %>">
<input type="submit" value="submit">
</form>

  </body>
</html>
